<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelList</key>
	<array>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>title</key>
			<string>初学乍练</string>
			<key>day</key>
			<integer>1</integer>
			<key>exp</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>title</key>
			<string>登堂入室</string>
			<key>day</key>
			<integer>2</integer>
			<key>exp</key>
			<integer>350</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>3</integer>
			<key>title</key>
			<string>略知一二</string>
			<key>day</key>
			<integer>4</integer>
			<key>exp</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>4</integer>
			<key>title</key>
			<string>初窥堂奥</string>
			<key>day</key>
			<integer>6</integer>
			<key>exp</key>
			<integer>1400</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>5</integer>
			<key>title</key>
			<string>略有小成</string>
			<key>day</key>
			<integer>9</integer>
			<key>exp</key>
			<integer>2100</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>6</integer>
			<key>title</key>
			<string>渐入佳境</string>
			<key>day</key>
			<integer>13</integer>
			<key>exp</key>
			<integer>3150</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>7</integer>
			<key>title</key>
			<string>圆转纯熟</string>
			<key>day</key>
			<integer>21</integer>
			<key>exp</key>
			<integer>4550</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>8</integer>
			<key>title</key>
			<string>知书达理</string>
			<key>day</key>
			<integer>34</integer>
			<key>exp</key>
			<integer>7350</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>9</integer>
			<key>title</key>
			<string>品学兼优</string>
			<key>day</key>
			<integer>42</integer>
			<key>exp</key>
			<integer>11900</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>10</integer>
			<key>title</key>
			<string>才貌双全</string>
			<key>day</key>
			<integer>55</integer>
			<key>exp</key>
			<integer>14700</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>11</integer>
			<key>title</key>
			<string>栋梁之才</string>
			<key>day</key>
			<integer>63</integer>
			<key>exp</key>
			<integer>19250</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>12</integer>
			<key>title</key>
			<string>文武双全</string>
			<key>day</key>
			<integer>76</integer>
			<key>exp</key>
			<integer>22050</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>13</integer>
			<key>title</key>
			<string>博学多才</string>
			<key>day</key>
			<integer>89</integer>
			<key>exp</key>
			<integer>26600</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>14</integer>
			<key>title</key>
			<string>学富五车</string>
			<key>day</key>
			<integer>97</integer>
			<key>exp</key>
			<integer>31150</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>15</integer>
			<key>title</key>
			<string>才高八斗</string>
			<key>day</key>
			<integer>110</integer>
			<key>exp</key>
			<integer>33950</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>16</integer>
			<key>title</key>
			<string>炉火纯青</string>
			<key>day</key>
			<integer>118</integer>
			<key>exp</key>
			<integer>38500</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>17</integer>
			<key>title</key>
			<string>自成一派</string>
			<key>day</key>
			<integer>131</integer>
			<key>exp</key>
			<integer>41300</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>18</integer>
			<key>title</key>
			<string>博览群书</string>
			<key>day</key>
			<integer>152</integer>
			<key>exp</key>
			<integer>45850</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>19</integer>
			<key>title</key>
			<string>满腹经纶</string>
			<key>day</key>
			<integer>171</integer>
			<key>exp</key>
			<integer>53200</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>20</integer>
			<key>title</key>
			<string>出口成章</string>
			<key>day</key>
			<integer>192</integer>
			<key>exp</key>
			<integer>59850</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>21</integer>
			<key>title</key>
			<string>学贯中西</string>
			<key>day</key>
			<integer>213</integer>
			<key>exp</key>
			<integer>67200</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>22</integer>
			<key>title</key>
			<string>雄才大略</string>
			<key>day</key>
			<integer>233</integer>
			<key>exp</key>
			<integer>74550</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>23</integer>
			<key>title</key>
			<string>德才兼备</string>
			<key>day</key>
			<integer>254</integer>
			<key>exp</key>
			<integer>81550</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>24</integer>
			<key>title</key>
			<string>才华横溢</string>
			<key>day</key>
			<integer>275</integer>
			<key>exp</key>
			<integer>88900</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>25</integer>
			<key>title</key>
			<string>已臻大成</string>
			<key>day</key>
			<integer>296</integer>
			<key>exp</key>
			<integer>96250</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>26</integer>
			<key>title</key>
			<string>博古通今</string>
			<key>day</key>
			<integer>330</integer>
			<key>exp</key>
			<integer>103600</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>27</integer>
			<key>title</key>
			<string>旷世奇才</string>
			<key>day</key>
			<integer>380</integer>
			<key>exp</key>
			<integer>115500</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>28</integer>
			<key>title</key>
			<string>登峰造极</string>
			<key>day</key>
			<integer>435</integer>
			<key>exp</key>
			<integer>133000</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>29</integer>
			<key>title</key>
			<string>出神入化</string>
			<key>day</key>
			<integer>498</integer>
			<key>exp</key>
			<integer>152250</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>30</integer>
			<key>title</key>
			<string>神功绝世</string>
			<key>day</key>
			<integer>574</integer>
			<key>exp</key>
			<integer>174300</integer>
		</dict>
	</array>
</dict>
</plist>
